{% load static compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description|default:'Default Prototype Description'}}">
    <meta name="keywords" content="{{ keywords|default:'prototype'}}">
    <title>
        {% block title%}Rapid Prototyping {% endblock title %}
    </title>
    {% comment %} include bootstrap {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% comment %} include custom css {% endcomment %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    {% endcompress %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    {% comment %} include bootstrap js {% endcomment %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body id="{% block body-id %}body{% endblock %}">
    {% block top-nav-wrapper %}
    <div class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand">Rapid Prototyping</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if slug == 'index' %}class="nav-item active"{% endif %}>
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li {% if slug == 'pricing' %}class="nav-item active"{% endif %}>
                        <a class="nav-link" href="{% url 'page' 'pricing' %}">
                            Pricing
                        </a>
                    </li>
                    <li {% if slug == 'contact' %}class="nav-item active"{% endif %}>
                        <a class="nav-link" href="{% url 'page' 'contact' %}">
                            Contact
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li {% if slug == 'login' %}class="nav-item active"{% endif %}>
                        <a class="nav-link" href="{% url 'page' 'login' %}">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   {% endblock top-nav-wrapper %}
   {% block content %}{% endblock content %} 
</body>
</html>
